.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}

.enter-todo {
  margin: 32px 0;
  display: flex;
  align-items: center;
  width: 35%;
}

.enter-todo input,
.enter-todo button {
  padding: 0.5rem;
  border: none;
  font-size: 2rem;
  background: white;
}

.enter-todo input {
  width: 100%;
}

.enter-todo input:focus {
  outline: none;
}

.enter-todo button {
  color: #d88771;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.enter-todo button:hover {
  background: #d88771;
  color: white;
}

.enter-todo button:disabled {
  background: white;
  color: grey;
  cursor: not-allowed;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.todo-list-container ul {
  width: 35%;
}

.todo-list-container h3 {
  height: 50vh;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.list-item {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  text-transform: capitalize;
  letter-spacing: 0.2px;
  background: white;
  padding: 8px;
  border-radius: 6px;
  color: black;
}

.list-item p {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.clear-completed {
  background: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  margin-top: 24px;
  border-radius: 6px;
  font-weight: 600;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  border: 2px solid black;
}

.clear-completed:hover {
  background: #d88771;
  color: white;
  border: 2px solid white;
}

@media (max-width: 780px) {
  .enter-todo,
  .todo-list-container ul {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .enter-todo,
  .todo-list-container ul {
    width: 95%;
  }
}
