* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(120deg, #fbcc38, #f77853);
  color: white;
  font-family: "poppins", sans-serif;
  min-height: 50px;
}
